.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    list-style: square;
}

.item:hover {
    color: teal;
}

.link:hover {
    color: teal;
}